.input-form {
	line-height: 0px;
	border: dashed 1px #7EB8FF;
	background-color: #CFF4FF;
	border-radius: 5px;
	margin-top:2px;
	margin-bottom:4px;
	color:black;
	font-family:Gotham;
}
#formulaire {
	width: 400px;
	height: auto;
	border: 0px solid;
	margin-left: 20px;

}
.btn-contact {
  background-color:#1D92FF;
  border:1px solid #6EB0FF;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  box-shadow:0 0 6px;
  color:#FFF;
  font-family:bebasneue;
  font-size:16px;
}

#tableau-form{
margin-left:30px;
margin-top:20px;	
}
.champs{
font-family: Stretch;
}

#msg{
position:relative;
}
#msg p{
color:red;
}
#coordonnee {
position:absolute;
margin-left:480px;
top:50px;
width:350px;
height:auto;
}
#coordonnee p{
color:black;
}
#coordonnee h3{
color:black;
font-size:16px;
font-family:acme;
}
#coordonnee h4{
color:black;
font-size:14px;
font-family:acme;
}

