.jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn
{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../images/a02.png) no-repeat;
    overflow:hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02ldn { background-position: -3px -33px; }
.jssora02rdn { background-position: -63px -33px; }